
body {

    background-image: url(/img/angel-1655378_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 95vh;

}

#display {

    font-size: 6.2em;
    font-weight: bold;
    font-family: monospace;

}

.btn {

    margin: 5px;
    width: 100px;
    height: 5vh;
    border-radius: 5px;
    font-size: 20px;
    background-color: aqua;
    cursor: pointer;
    transition: background-color 0.5s ease;

}

.btn:hover {

    background-color: rgb(17, 224, 224);

}