
body {

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 95vh;

}

#display {

    font-size: 6.2em;
    font-weight: bold;
    font-family: monospace;

}